  <script>
    beatbox.init({ 'amazon': 'amazonaffiliatecode', 'test': 'hi', 'itunes': 'itunesaffiliatecode' });
  </script>

<% form_tag url_for(:controller => :search, :action => :search_results ), :id => "search_form" do %>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <h2>Search</h2>  
  <p class="description mb20">
    Search the web for where music is sold and we'll do what we can to connect you with people who are selling it.  
  </p>
    
  <div class="section">
    <%= label_tag 'artist_name', 'Artist Name', :class => 'label_tag' %> 
    <%= text_field :search, :artist_name, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'album_name', 'Album Name', :class => 'label_tag' %> 
    <%= text_field :search, :album_name, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'album_upc', 'Album UPC', :class => 'label_tag' %> 
    <%= text_field :search, :album_upc, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'track_name', 'Track Name', :class => 'label_tag' %> 
    <%= text_field :search, :track_name, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'track_isrc', 'Track ISRC', :class => 'label_tag' %> 
    <%= text_field :search, :track_isrc, :class => 'text_field'  %>
  </div>
  <div class="section form_control">
    <%= submit_tag 'Submit', :class => 'rounded_corners mt20', :id => 'submit' %>
  </div>
<% end %>


   <script type="text/javascript" charset="utf-8">
     $(document).ready(function(){
       $('#submit').click(function(){
         beatbox.search({ 'artist_name' : $('#search_artist_name').val(), 'album_name' : $('#search_album_name').val()}, function(response_data) {
           $enclosure = $('#results');
           $enclosure.show();

           $container = $('#body_of_results');

           if (response_data.length == 0) {
           $enclosure.removeClass('success').removeClass('fail').addClass('fail');
           $container.text('Not available online.');
           return;
           }

           $enclosure.removeClass('success').removeClass('fail').addClass('success');
//            $container.text('Buy: ');

           jQuery.each(response_data, function(index, r) {
             var $a = $('<a>');
             $a.text(r.label);
             $a.attr('href', r.url);

             $container.append($a, '&nbsp;&nbsp;'); 
             });
      });
           return false;
          }); 
         });
   </script>
