  <script>
    beatbox.init();
  </script>

<% form_tag url_for(:controller => :search, :action => :search_results ), :id => "search_form" do %>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <h2>Search:</h2>  
  <p class="description mb20">
    Search the web for where music is sold and we'll do what we can to connect you with people who are selling it.  
  </p>
    
  <div class="section">
    <%= label_tag 'artist_name', 'Artist Name', :class => 'label_tag' %> 
    <%= text_field :search, :artist_name, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'album_name', 'Album Name', :class => 'label_tag' %> 
    <%= text_field :search, :album_name, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'album_upc', 'Album UPC', :class => 'label_tag' %> 
    <%= text_field :search, :album_upc, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'track_name', 'Track Name', :class => 'label_tag' %> 
    <%= text_field :search, :track_name, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= label_tag 'track_isrc', 'Track ISRC', :class => 'label_tag' %> 
    <%= text_field :search, :track_isrc, :class => 'text_field'  %>
  </div>
  <div class="section">
    <%= submit_tag 'Submit', :class => 'rounded_corners mt20', :id => 'submit' %>
  </div>
<% end %>
<div id="results">
    
</div>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function(){
       $('#submit').click(function(){
         var data = $('#search_form').serialize();
      beatbox.search(data, function(response_data) {
        $container = $('#results');

        if (data.length == 0) {
          $container.text('Not available online.');
          return;
        }

        $container.text('Buy: ');
        
        jQuery.each(data, function(index, r) {
          var $a = $('<a>');
          $a.text(r.label);
          $a.attr('href', r.url);

          $container.append($a, '&nbsp;&nbsp;'); 
        });
      });
  /*         $.post('search/search_results', data, function(response_data){
            $.each(response_data['repository'][0]['results'],(function(index, element){
                console.log(element.label);
                console.log(element.provider);
                console.log(element.url);
            }));


             //$('#results').html(response_data);
      
             }); */
           return false;
          }); 
         });
   </script>
