<div class="section">
  <%= form.label :email, 'Email', :class => :label_tag %>
  <%= form.text_field :email %>
</div>
<div class="section">
  <%= form.label :password, form.object.new_record? ? 'Password' : "Change password", :class => :label_tag %>
  <%= form.password_field :password %>
</div>
<div class="section">
  <%= form.label :password_confirmation, 'Password Confirmation', :class => :label_tag %>
  <%= form.password_field :password_confirmation %>
</div>
