<div class='section'>
  <%= form.label :email' %>
  <%= form.text_field :email, :class => 'text_field' %>
</div>
<div class='section'>
  <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
  <%= form.password_field :password, :class => 'text_field' %>
</div>
<div class='section'>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, :class => 'text_field' %>
</div>
