<div class="section">
  <%= form.label :name, 'Album Name', :class => :label_tag %>
  <%= form.text_field :name %>
</div>

<div class="section">
  <%= form.label :amg_id, 'AMG Id', :class => :label_tag %>
  <%= form.text_field :amg_id %>
</div>

<br />
<br />

<div class="center">
  <h3><%= link_to("Add location",'#', :class => 'location-build') %></h3>
</div>

<div id="new-location-form" style="display: none;">
  <div class="section">
    <%= label_tag(:lbuild_site,"Site", :class => :label_tag) %>
    <%= text_field_tag(:lbuild_site) %>
  </div>
  <div class="section">
    <%= label_tag(:lbuild_label,"Label", :class => :label_tag) %>
    <%= text_field_tag(:lbuild_label) %>
  </div>
  <div class="section">
    <%= label_tag(:lbuild_uri,"URI", :class => :label_tag) %>
    <%= text_field_tag(:lbuild_uri) %>
  </div>
  <div class="section center">
    <%= link_to("Add", '#', :class => 'location-add') %>
    &nbsp; or &nbsp;
    <%= link_to("Cancel", '#', :class => 'location-cancel') %>
  </div>
</div>

<br />

<div class="offer-section">
  <table class="location-list" style="width: 100%;">

    <thead>
      <th>Site</th>
      <th>Label</th>
      <th>URI</th>
      <th width="30"></th>
    </thead>
    <tbody>

      <% if @offer.locations.size == 0 %>
      <tr>
        <td id="empty-message" colspan="4" class="center">
          No locations added yet.
        </td>
      </tr>
      <% end %>

      <% for location in @offer.locations %>
        <tr>
          <td><%= h(location.site) %></td>
          <td><%= h(location.label) %></td>
          <td><%= link_to(location.uri) %></td>
          <td>
            <%= hidden_field_tag("locations[]",location.id)   %>
            <%= link_to("x",'#', :class => 'location-remove') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br/>

<script type="text/javascript">
  $(document).ready(function(){

    function clearForm() {
      $('#lbuild_site').val('');
      $('#lbuild_label').val('');
      $('#lbuild_uri').val('');
    }

    function closeForm() {
      clearForm();
      $('#new-location-form').fadeOut('fast');
    }

    function removeRow(element) {
      $(element).closest('tr').remove();
    }

    $('.location-list a.location-remove').click(function(){
      removeRow(this);
      return false;
    });

    $('a.location-build').click(function(){
      $('#new-location-form').fadeIn('fast');
      return false;
    });

    $('a.location-cancel').click(function(){
      closeForm();
      return false;
    });

    $('a.location-add').click(function(){
      // Remove the empty message.
      $('.location-list #empty-message').remove();

      var site  = $('#lbuild_site').val();
      var label = $('#lbuild_label').val();
      var uri   = $('#lbuild_uri').val();

      var row   = $('<tr></tr>');

      var col   = $('<td></td>').html(site);

      row.append(col)

      row.append($('<td></td>').html(label));
      row.append($('<td></td>').html('<a href="'+uri+'">'+uri+'</a>'));

      var input  = '<input type="hidden" name="lnew[][site]"  value="' + site  + '" />';
          input += '<input type="hidden" name="lnew[][label]" value="' + label + '" />';
          input += '<input type="hidden" name="lnew[][uri]"   value="' + uri   + '" />';

      var xbutton = $('<a href="#">x</a>');
      xbutton.click(function(){ 
        removeRow(this);
        return false;
      });

      col = $('<td></td>');
      col.append(input);
      col.append(xbutton);
      row.append(col);

      $('.location-list tbody').append(row);
      clearForm();

      return false;
    });

  });

</script>


